<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="es" /> 
<title>Votalo o Botalo</title>
<meta name="description" content="" />

<link rel="shortcut icon" href="img/favicon.png" type="image/png" /> 
<link href="css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div id="content">
		
		<div id="header">
			<a href="#"><img src="img/cabecera_logo.png" alt="Logo" /></a>
		</div>
		<!-- fin #header -->
		
		<div id="aside">
			<div id="shadow"></div>
      <div id="titulo">
        <h2>Busqueda </h2>
      </div>
      
      <div id="caja_formulario"><form action="" method="post" name="formBuscar">
        <table width="100%" border="0" class="table">
  <tr>
    <td><p>Número de expediente:</p></td>
  </tr>
  <tr>
    <td><label>
      <input name="txtExpediente" type="text" class="txt_campo" id="txtExpediente" />
    </label></td>
  </tr>
  <tr>
    <td><p>Autor:</p></td>
  </tr>
  <tr>
    <td><label>
      <input name="txtAutor" type="text" class="txt_campo" id="txtAutor" />
    </label></td>
  </tr>
  <tr>
    <td><p>Fecha:</p></td>
  </tr>
  <tr>
    <td><label>
      <input name="txtFecha" type="text" class="txt_campo" id="txtFecha" />
    </label></td>
  </tr>
  <tr>
    <td><p>Bloque:</p></td>
  </tr>
  <tr>
    <td><label>
      <input name="txtBloque" type="text" class="txt_campo" id="txtBloque" />
    </label></td>
  </tr>
  <tr>
    <td><label>
      <input name="btnBuscar" type="submit" class="btnBuscar" id="btnBuscar" value="" />
    </label></td>
  </tr>
</table></form>

       
      </div>
		</div>
		<!-- fin #aside -->
		
		<div id="proyectos">
			<div id="masvotados">
				<h1>Más votados</h1>
				
        <% @top_projects.each do |project| %>
          <div id="<%= project.id %>" class="proyecto">
            <h3>Proyecto nro <%= project.numeroExpediente %></h3>
            <p><%= project.descripcion %></p>
            <cite><%= project.autor %></cite>
            <div class="botonera">
              <% vote = project.vote_from(@user) %>
              <a id="<%= project.id %>" class="positive <%= vote.try(:positive?) ? 'voted' : '' %>" href="#">Votado</a>
              <span style="color: #008d36; float: left; padding-top: 8px; margin-right: 10px"><%= project.positive_votes.count %></span>
              <a id="<%= project.id %>" class="negative <%= vote.try(:negative?) ? 'voted' : '' %>" href="#">Botado</a>
              <span style="color: #bd1622; float: left; padding-top: 8px; margin-left: 10px"><%= project.negative_votes.count %></span>
              <a href="<%= project.url %>">+ info</a>
              <!--
              <a href="#">Comentarios</a>
              -->
            </div>
          </div>
        <% end %>
			</div>

			<div id="recientes">
				<h2>Proyectos recientes</h2>
				
        <% @recent_projects.each do |project| %>
          <div id="<%= project.id %>" class="proyecto">
            <h3>Proyecto nro <%= project.numeroExpediente %></h3>
            <p><%= project.descripcion %></p>
            <cite><%= project.autor %></cite>
            <div class="botonera">
              <% vote = project.vote_from(@user) %>
              <a id="<%= project.id %>" class="positive <%= vote.try(:positive?) ? 'voted' : '' %>" href="#">Votado</a>
              <span style="color: #008d36; float: left; padding-top: 8px; margin-right: 10px"><%= project.positive_votes.count %></span>
              <a id="<%= project.id %>" class="negative <%= vote.try(:negative?) ? 'voted' : '' %>" href="#">Botado</a>
              <span style="color: #bd1622; float: left; padding-top: 8px; margin-left: 10px"><%= project.negative_votes.count %></span>
              <a href="<%= project.url %>">+ info</a>
              <!--
              <a href="#">Comentarios</a>
              -->
            </div>
          </div>
        <% end %>
			</div>
			<!-- fin #recientes -->
			
			<ul id="paginado">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
			</ul>
			
		</div>
		<!-- fin #proyectos -->
		
		<div id="footer">
      <a href="http://hackatonmza.com.ar/" alt="#HackatonMza"><img src="img/logo.png" alt="" /></a>
		</div>
		
	</div>
	<!-- fin #content -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')</script>

	<script src="/js/plugins.js"></script>
	<script src="/js/script.js"></script>

	<!--[if (gte IE 6)&(lte IE 8)]>
	  <script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]--> 
	<script>
	    var _gaq=[['_setAccount','UA-XXXXXXXX-X'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

  <script>
    $(function() {
      $(".proyecto").each(function() {
        var proj_id = $(this).attr("id");
        $(this).find(".positive").click(function() {
          $.post("/project/" + proj_id + "/vote?vote=positive", function(data) {
            alert("Voto realizado");
          });
        });

        $(this).find(".negative").click(function() {
          $.post("/project/" + proj_id + "/vote?vote=negative", function(data) {
            alert("Voto realizado");
          });
        });
      });
    });
  </script>
</body>
</html>
